<div class="container col-lg-4 col-lg-offset-4">
  <div class="middle-box text-center loginscreen   animated fadeInDown">
     <div>
        <br><br><br><br><br>
        <div>
           <img class="responsive" style="height:90px; width:200px"src="../assets/img/logogris.png" alt="Logo"/>
        </div>
        <h3>Suscribase a INMOEILEN C.A.</h3>
        <p>Y disfrute de nuestros servicios</p>
        <form  (ngSubmit)="guardar()" #forma="ngForm" class="m-t" role="form" action="login.html">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Nombre" required=""
           [(ngModel)]="register.name" name="name">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Apellido" required=""
           [(ngModel)]="register.lastname" name="lastname">
        </div>
        <div class="form-group">
           <input type="email" class="form-control" placeholder="Correo" required=""
           [(ngModel)]="register.email" name="email">
        </div>
        <div class="form-group">
           <input type="date" class="form-control" required=""
           [(ngModel)]="register.datebirth" name="datebirth">
        </div>
        <div class="form-group">
           <select [(ngModel)]="register.gender" name="gender" class="form-control" id="sel1">
           <option value="0" selected>Sexo</option>
           <option value="1">Hombre</option>
           <option value="2">Mujer</option>
           </select>
        </div>
        <div class="form-group">
           <select [(ngModel)]="register.preferences" name="preferences" class="form-control" id="sel1">
           <option value="0" selected>¿Que tipo de servicio le interesa?...</option>
           <option value="1">Comprar</option>
           <option value="2">Alquilar</option>
           <option value="3">Vender</option>
           <option value="4">Arrendar</option>
           </select>
        </div>
        <div class="form-group">
           <div class="checkbox i-checks"><label> <input  [ngModel]="register.terms" name="terms" type="checkbox"><i></i>Acepto los terminos y condiciones </label></div>
        </div>
        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary block full-width m-b">Suscribir</button>
        <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
        <a class="btn btn-sm btn-white btn-block" routerLink="/login">Ingresar</a>
        </form>
     </div>
  </div>
</div>
