<div class="container">
   <div class="row">
         <div class="col-md-3" *ngFor="let typeService of typeServices">
               <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" [alt]="typeService.name" [src]="typeService.urlImage" data-holder-rendered="true" img="reponsive rounded" style="height: 225px; width: 100%; display: block;">
                  <div class="card-body">
                     <h4 class="card-text "><a  style="color:#1ab394">{{ typeService.name  | uppercase }}</a></h4>
                     <p style="color:#414444">{{ typeService.description }}</p>
                     <div class="d-flex justify-content-between ">
                        <div>
                           <button (click)="open()" type="button"  class="btn btn-primary full-width">Más información</button>
                        </div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
   Launch demo modal
 </button>
 
 <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Modal title</h4>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>








                     </div>
                  </div>
               </div>
               <br><br></div>
    </div>
</div>

  <br><br>