<div id="contact" class="contact">
    <br/>
    <div class="container">
       <div class="row m-b-lg">
          <div class="col-lg-3 title">
             <div class="row">
                <img class="responsive" style="height:110px; width:150px"src="{{ agency['logo']['url'] }}" alt="agency['logo']['description'] "/>
                <p class="rif">{{ agency.rif }}</p>
             </div>
          </div>
          <div class="col-lg-3 title">
             <h4>Navegación</h4>
             <h6><a class="link-foot" routerLink="/nosotros">¿Quienes Somos?</a></h6>
             <h6><a class="link-foot" href="#services">Tipo de Servicios</a></h6>
             <h6><a class="link-foot" routerLink="/catalogo">Catálogo</a></h6>
             <h6><a class="link-foot" routerLink="/contacto">Contáctanos</a></h6>
             <h6><a class="link-foot" routerLink="/suscribir">Suscribirse</a></h6>
             <h6><a class="link-foot" routerLink="/login">Ingresar</a></h6>
          </div>
          <div class="col-lg-3 title">
             <h4>Información de contacto</h4>
             <div class="row">
                <div class="col-lg-1">
                   <i class="icon-footer fa fa-map-marker"></i>
                </div>
                <div>
                   <h6  class="info" style="margin-top:0">{{agency.ubication}}</h6>
                </div>
             </div>
             <div class="row">
                <div class="col-lg-1">
                   <i class="icon-footer fa fa-phone"></i>
                </div>
                <div>
                   <h6 class="info">{{ agency.phoneNumber }} / {{ agency.phoneNumber2 }}</h6>
                </div>
             </div>
             <br/>
             <div class="list-inline social-icon">
                <app-networks></app-networks>
             </div>
          </div>
          <div class="col-lg-3 title">
             <form>
                <div class="form-group">
                   <h4 id="contact2">Contacto rápido</h4>
                   <input type="text" class="form-control form-contact" id="InputNombre" placeholder="Nombre">
                   <input type="email" class="form-control form-contact" id="InputCorreo" placeholder="Correo">
                   <div class="select">
                    <select class="form-control form-contact select" id="sel1">
                      <option>Sugerencia</option>
                      <option>Queja</option>
                      <option>Garantía</option>
                    </select>
                  </div>
                   <textarea class="form-control form-contact" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba su mensaje"></textarea>
                </div>
                <button id="btn1" type="submit" class="btn btn-primary">Enviar</button>
             </form>
          </div>
       </div>
    </div>
  </div>
  